@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #1c4646;
}
.page_wrapper {
  width: 90vw;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.tablet_display {
  display: block;
}
.service_img_container {
  object-fit: contain;
  object-position: right;
  float: right;
}
.tablet_display {
  display: block;
}
@media screen and (min-width: 1280px) {
  .hero_col {
    max-width: 800px;
  }
}
@media screen and (max-width: 1080px) {
  .hero_col {
    max-width: 500px;
  }
}
@media screen and (max-width: 1022px) {
  .tablet_display {
    display: none;
  }
}

@media screen and (min-width: 358px) {
  .services_col {
    width: 90vw;
  }
}
